# This file is used to automatically request reviews on PRs.
# These owners will be the default owners for everything in
# the repo, unless a match on a later line takes precedence.
# More info at docs: https://help.github.com/articles/about-codeowners/
* @nike-gc-ncp
